<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Расчет дистанции</title>
</head>
<body>
<h1>Расчет дистанции до ближайшей точки на МКАД</h1>
<form method="post">
    <textarea name="query" id="query" class="form-control"></textarea><br>
    <input type="submit" class="btn btn-success" value="Рассчитать дистанцию">
</form>
{% if distance %}
<p>Расстояние равно {{ distance }} километров</p>
{% endif%}
{% if message %}
<p>{{ message }}</p>
{% endif%}
{{ words }}
</body>
</html>